@media screen and (max-width:400px){
  /* nav responsive start here */
  .nav-container{
    flex-direction: column;
  }
  .nav-item-container{
    flex-direction: column;
    width: 100%;

  }
  .nav-item-container a{
    margin-top: 20px;
    
  }
  .nav-item-container .login-btn{
    width: 100%;
    text-align: center;
  }
   /* nav responsive End here */

  /* Banner responsive start here */

  .banner-container{
    flex-direction: column;
    align-items: center;
  }
  .banner-text,.banner-img{
    width: 100%;
  }
  .banner-text h1{
    font-size: 30px;
  }
  .banner-text p{
    font-size: 20px;
  }
  .fa-brands{
    font-size: 35px;
  }
  .banner-img{
    margin-top: 10px;
  }



  /* Banner responsive end here */

   /*products responsive here*/
   .grid-container{
  
    grid-template-columns: 1fr;
    
  }
}

/* @media screen and (min-width:401px) and (max-width:700px){
  .grid-container{
    grid-template-columns:repeat(3,1fr);
  }
} */